:root {
    --main_col : aliceblue;
    --back_col : rgb(5, 5, 10);
    --blue     : rgb(93, 140, 168);
}

html, body
{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
h1
{
    margin: 0;
    margin-top: 5vh;
    font-size: 55px;
    text-align: center;
}
h3
{
    font-size: 25px;
}

@media (prefers-color-scheme: dark)
{
    body
    {
        color: --main_col;
    }
    h1
    {
        color:--main_col;
    }
    #content {
        background-image: linear-gradient(to bottom, rgb(15, 15, 20), rgb(5, 5, 10));
    }
    #main-footer {
        background-color: #000000;
      }
}
@media (prefers-color-scheme: light)
{
    body
    {
        background: --main_col;
        color: --back_col;
    }
    h1
    {
        color:--back_col;
    }
    #profile
    {
        border: solid 5px rgb(15, 70, 80);
    }
    #main-footer {
        background-color: #222222;
    }
}

#content
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: opacity 0.5s ease;
}



.text-img-container
{
    display: flex;
    align-items: center;
    margin-bottom: 30vh;
    margin-top: 30vh;
}
.text-img-container img
{
    max-width: 200px;
    height: auto;
    margin: 0;
}
#description
{
    border: 4px solid var(--blue);
    border-radius: 20px 20px 20px 0px;
    padding: 20px;
    max-width: 400px;
    margin-left: 10px;
    text-align: left;
}
#profile 
{
    border-radius: 20%;
}

#buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    columns: 2;
    margin-bottom: 30vh;
}

.project {
    margin: 20px;
    width: 352px;
    max-height: 296px;
    padding: 20px;
    border: 2px solid var(--blue);
    border-radius: 25px;

    background: linear-gradient(to bottom right, rgb(11, 36, 51), rgb(20, 20, 35));

    text-decoration: none;
    color: var(--blue);

    overflow: hidden;
}

.sliding {
    margin: 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -50px;


    padding: 5px;

    background-color: var(--back_col);

    transition: transform ease 0.2s;
}

.project-title {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 20px;

    font-size: 20px;
    color: var(--main_col);
}

.project-image {
    border-radius: 20px;
    object-fit: cover;
}

#footer-bottom {
    background-color: #1f1f1f;
    background-color: rgba(0,0,0,0.32);
    padding: 15px 0 5px;
}

#footer-info {
    text-align: center;
    color: #666;
    padding-bottom: 10px;
    float: none;
}






/* BUTTON FROM GITHUB */

/* <button class="button-3" role="button">foo</button> */
.pretty-button {
    appearance: none;
    background-color: rgb(11, 36, 51);
    border: 1px solid var(--blue);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: var(--blue);
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
  
.pretty-button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}
  
.pretty-button:hover {
    background-color: rgb(5, 21, 31);
}
  
.pretty-button:focus {
    box-shadow: rgb(5, 21, 31, .4) 0 0 0 3px;
    outline: none;
}
  
.pretty-button:disabled {
    background-color: rgb(145, 206, 243);
    border-color: rgb(216, 234, 245);
    color: rgb(216, 234, 245);
    cursor: default;
}
  
.pretty-button:active {
    background-color: rgb(11, 36, 51);
    box-shadow: rgb(11, 36, 51, .2) 0 1px 0 inset;
}