name: build and deploy

on: 
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  web-build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with: 
          python-version: '3.10'

      - name: build blog
        run: python ./builder/blog.py

      - name: build cv
        run: python ./builder/cv.py

      - name: authorize cleanup
        run: chmod +x ./builder/cleanup.sh

      - name: cleanup
        run: ./builder/cleanup.sh

      - name: list website contents
        run: ls -R
         
      - name: upload
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./
  deploy:
    name: Deploy
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: web-build
    permissions:
      pages: write
      id-token: write
    steps:
      
      - name: deploy
        uses: actions/deploy-pages@v4
